amqp
asgiref
attrs
billiard
celery
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-cors-headers
django-filter
django-redis
django-storages
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
inflection
jsonschema
jsonschema-specifications
kombu
packaging
pillow
prompt_toolkit
psycopg2-binary
PyJWT
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
redis
referencing
rpds-py
setuptools
six
sqlparse
tzdata
tzlocal
uritemplate
vine
wcwidth
whitenoise 
django-otp
qrcode
pillow
pyotp
